@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    background-color: #C5D9F2;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.rectangle__back{
    display: flex;
    background-color: #454444;
    justify-content: center;
    height: 230px;
    width:680px;
    color: #FFFFFF;
}

.body__contant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.main__theme{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    word-break: break-word;
    right: 40px;
    width: 180px;
    font-size: 18px;
}

.body__theme{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    word-break: break-word;
    right: 30px;
    width: 200px;
    font-size: 13px;
}

.sign__btt{
    display: flex;
    position: relative;
    right: 88px;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    background-color: #454444;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
}

/* .btt__name{
    display: flex;
    justify-content: center;
    text-align: center;
} */

.square__front{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    right: 50px;
    bottom: 20px;
    height: 270px;
    width: 330px;
}

label{
    display: flex;
    justify-content: start;
    color: #000;
    width: 255px;
}

input{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #E3E2E2;
    width: 255px;
    height: 20px;
    border-radius: 5px;
    padding: 4px;
}

.contant__lowbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #000000b9;
    font-size: 13px;
}

.contant__lowbar__login__btt{
    display: flex;
    position: relative;
    border: none;
    background-color: #E3E2E2;
    color: #000000;
    text-align: center;
    padding: 6px 22px;
    border-radius: 5px;
    font-size: 10px;
    left: 5px;
}

.input__image__image{
    display: flex;
    position: relative;
    width: 18px;
    left: 235px;
    bottom: 23px;
}